# Movie Dataset Basic Data Exploration:

## 1. Importing Libraries and Data

In [45]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(r"D:\My_project_dataset\Recommendation system (movie)\Movies dataset\dataset.csv", encoding="utf-8")
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,23-09-1994,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,19-10-1995,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,14-03-1972,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,15-12-1993,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,20-12-1974,8.6,9811

In [5]:
df.shape

(10020, 9)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10020 entries, 0 to 10019
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10020 non-null  int64
 1   title              10020 non-null  object
 2   genre              10017 non-null  object
 3   original_language  10020 non-null  object
 4   overview           10007 non-null  object
 5   popularity         10020 non-null  float64
 6   release_date       10020 non-null  object
 7   vote_average       10020 non-null  float64
 8   vote_count         10020 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 704.7+ KB

In [7]:
df.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

## 2. Basic Data Exploration

### 2.1 Most recent releases

In [8]:
df['release_date'] = pd.to_datetime(df['release_date'],dayfirst=True)

In [15]:
most_recent= df.groupby('title')['release_date'].max()
most_recent.sort_values(ascending=False)

title
Avatar 3                                           2025-12-19
Dune: Messiah                                      2025-07-18
Mission: Impossible - The Final Reckoning          2025-05-23
The Batman: Part II                                2025-01-24
Gladiator II                                       2024-11-22
                                                      ...
The Cabinet of Dr. Caligari                        1920-02-27
A Dog's Life                                       1918-04-14
Intolerance: Love's Struggle Throughout the Ages   1916-09-04
The Great Train Robbery                            1903-12-07
A Trip to the Moon                                 1902-04-17
Name: release_date, Length: 9681, dtype: datetime64[ns]

### Observation:
<font size=+1> In this dataset we can observe that some of the upcoming 2025 movies like Avatar 3, Dune: Messiah and Mission: Impossible - The Final Reckoning. </font>

In [17]:
df['release_year'] = df['release_date'].dt.year

In [19]:
df.head(2)

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,release_year
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,1994
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,1995

In [21]:
movies_2015 = df[df['release_year']>=2015]
movies_per_year = movies_2015.groupby('release_year').size()
movies_per_year

release_year
2015    402
2016    434
2017    464
2018    469
2019    426
2020    330
2021    305
2022     81
2023      7
2024      9
2025      4
dtype: int64

### Observation:
<font size=+1> In this dataset we have very limited movies after 2022 </font>

In [43]:
High_popularity = df[df["popularity"]>95]
High_popularity_sorted = High_popularity.sort_values(by = "popularity", ascending=False)
High_popularity_sorted[['title','genre','popularity']].head(10)

,title,genre,popularity
3066,Jurassic World Dominion,"Adventure,Action,Science Fiction",10436.917
1337,Minions: The Rise of Gru,"Family,Animation,Adventure,Comedy,Fantasy",8821.801
4522,Thor: Love and Thunder,"Action,Adventure,Fantasy",8772.151
61,Top Gun: Maverick,"Action,Drama",7567.017
388,The Black Phone,"Horror,Thriller",5278.336
1990,Lightyear,"Animation,Science Fiction,Adventure,Action,Family",5255.930
1313,Doctor Strange in the Multiverse of Madness,"Fantasy,Action,Adventure",4289.605
2815,The Princess,"Fantasy,Action",2456.150
3103,The Exorcism of God,Horror,1837.940
948,The Sea Beast,"Animation,Adventure,Family,Fantasy",1723.363

### Observation:
<font size=+1> Jurassic world Dominion has the more popularity among the other movies </font>

## 3. Merging the genre column and overview column for vectorization

In [178]:
df["tags"] = df['genre'].str.cat(df['overview'],sep=', ')

In [179]:
df.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,release_year,tags
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,1994,"Drama,Crime, Framed in the 1940s for the doubl..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731,1995,"Comedy,Drama,Romance, Raj is a rich, carefree,..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,1972,"Drama,Crime, Spanning the years 1945 to 1955, ..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,1993,"Drama,History,War, The true story of how busin..."
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,1974,"Drama,Crime, In the continuing saga of the Cor..."

## Final dataset

In [180]:
df_movies = df[['id','title','tags']]

df_movies.head()

,id,title,tags
0,278,The Shawshank Redemption,"Drama,Crime, Framed in the 1940s for the doubl..."
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance, Raj is a rich, carefree,..."
2,238,The Godfather,"Drama,Crime, Spanning the years 1945 to 1955, ..."
3,424,Schindler's List,"Drama,History,War, The true story of how busin..."
4,240,The Godfather: Part II,"Drama,Crime, In the continuing saga of the Cor..."

## Converting Final dataset into CSV

In [191]:
df_movies.to_csv("2_movies_dataset.csv",index=False)